<div class="p">Une autre page avec plus de mise en forme.</div>
<ul><li>ma liste</li><ul><li>sous ma liste</li><li>une autre</li></ul><li>et encore.</li></ul>
<div class="p">code/</div>
<div class="p">Un bloc de code</div>
<div class="p">Se présente toujours</div>
<div class="p">De cette manière</div>
<div class="p">/code</div>
<div class="p"><a href="https://www.atelier-icare.net" target="_blank">V<sup>e</sup>rs l’atelier</a></div>