body {
  font-size: 16pt;
}

/* -- Spéciales Pharkdown */

nowrap {white-space:nowrap;}

/* --- TITRES --- */

h1, h2, h3, h4, h5 {
  font-weight: normal;
}
h1 {
  font-size: 48pt;
  margin-top:0;
}
h2 {
  font-size: 40pt;
  margin-top: 3em;
  padding-bottom: 8px;
  border-bottom: 1px solid #CCCCCC;
}
h1 + h2 {
  margin-top: 1em;
}
h3 {
  font-size: 32pt;
  margin-top: 2em;
}
h4 {
  font-size: 28pt;
  margin-top: 1.5em;
}
h5 {
  margin-top: 1em;
}

/* --- Styles généraux --- */

a, a:link, a:visited, a:hover {
  text-decoration: none;
  color: rgb(16, 69, 162);
}
a:hover {
  border-bottom: 1px solid #8888FF;
}


/* === Paragraphes === */

div.p {
  font-family: inherit;
  font-size: inherit;
}

/* === Code === */

code {
  background-color: #ebebeb;
  padding: 0 4px;
}
pre {
  padding: 0 1em 1em;
}
pre, pre code {
  background-color: #333333;
  color: white;
  white-space: pre;
}

/* === Environnement :dictionary === */

dl {
  /* border: 1px solid blue; */
  margin: 1rem 0;
}
dl dd {
  padding-left: 8px;
  border-left: 1px solid #999999;
}
dl dt {
  font-family: Arial Hebrew, Arial, Helvetica, Geneva;
  font-weight: bold;
  margin-top: 0.5rem;
}
dl dd {
  margin-left: 1rem;
  padding-top: 0.25rem;
  font-size: 0.95em;
}
dl dt + dd {
  margin-top: 0.4rem;
}
dl dd + dt {
  margin-top: 0.75rem;
}
