<p>Une autre page avec plus de mise en forme.</p>
<ul><li>ma liste</li><ul><li>sous ma liste</li><li>une autre</li></ul><li>et encore.</li></ul>
<p>code/</p>
<p>Un bloc de code</p>
<p>Se présente toujours</p>
<p>De cette manière</p>
<p>/code</p>
<p>[Vers l'atelier](https://www.atelier-icare.net)</p>