<h1>Pharkdown</h1>
<ul></ul>
<p>C’est une premier page.</p>
<p>J’ajoute une ligne au fichier phad.</p>
<dl><dt>Mon premier terme</dt><dd>C’est ça définition qui suit, exactement.</dd><dt>Un autre terme aussi pour voir</dt><dd>C’est le premier paragraphe de définition.</dd><dd>Deuxième paragraphe de définition.</dd></dl>
<p>Un paragraphe au-dessous.</p>