<h1>Pharkdown (titre de niveau 1)</h1>
<p><em>Cette page doit permettre de voir tous les formatages en action. À mesure qu’on ajoute des traitements, on le reporte ici pour les voir en direct.</em></p>
<h2>Titre de niveau 2</h2>
<h3>Titre de niveau 3</h3>
<h4>Titre de niveau 4</h4>
<h4>Titre de niveau 5</h4>
<h1>De nouveau un titre de niveau 1</h1>
<p>C’est une première page.</p>
<p>J’ajoute une ligne au fichier phad.</p>
<h3>Les Environnements</h3>
<h4>Dictionnaire (<code>dictionary</code>)</h4>
<dl><dt>Mon premier terme</dt><dd>C’est ça définition qui suit, exactement.</dd><dt>Un autre terme aussi pour voir</dt><dd>C’est le premier paragraphe de définition.</dd><dd>Deuxième paragraphe de définition.</dd></dl>
<p>Un paragraphe au-dessous.</p>